Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2022-01, with the labels that each got.

#6 Refactor Android implementation
  android/build.gradle
  android/src/main/java/com/cloudwebrtc/webrtc/CameraEventsHandler.java
  android/src/main/java/com/cloudwebrtc/webrtc/FlutterRTCVideoRenderer.java
  android/src/main/java/com/cloudwebrtc/webrtc/FlutterWebRTCPlugin.java
  android/src/main/java/com/cloudwebrtc/webrtc/GetUserMediaImpl.java
  android/src/main/java/com/cloudwebrtc/webrtc/MethodCallHandlerImpl.java
  android/src/main/java/com/cloudwebrtc/webrtc/PeerConnectionObserver.java
  android/src/main/java/com/cloudwebrtc/webrtc/SimulcastVideoEncoderFactoryWrapper.kt
  android/src/main/java/com/cloudwebrtc/webrtc/StateProvider.java
  android/src/main/java/com/cloudwebrtc/webrtc/SurfaceTextureRenderer.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/AnyThreadResult.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/AnyThreadSink.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/Callback.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ConstraintsArray.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ConstraintsMap.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/EglUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/EnumStringifier.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/MediaConstraintsUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ObjectExporter.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ObjectType.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/PermissionUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCAudioManager.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCBluetoothManager.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCProximitySensor.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCUtils.java
  common/cpp/src/flutter_peerconnection.cc
  common/darwin/Classes/FlutterWebRTCPlugin.m
  example/lib/main.dart
  example/lib/src/loopback_sample.dart
  lib/src/interface/rtc_rtp_transceiver.dart
  lib/src/native/rtc_peerconnection_impl.dart
  lib/src/native/rtc_rtp_transceiver_impl.dart
  lib/src/native/rtc_video_renderer_impl.dart
  lib/src/web/rtc_rtp_transceiver_impl.dart
  test/unit/rtc_peerconnection_test.dart
Labels: enhancement, k::refactor, k::api, plarform::android

#23 Format Android source code
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yaml
  android/src/main/java/com/cloudwebrtc/webrtc/CameraEventsHandler.java
  android/src/main/java/com/cloudwebrtc/webrtc/FlutterRTCVideoRenderer.java
  android/src/main/java/com/cloudwebrtc/webrtc/FlutterWebRTCPlugin.java
  android/src/main/java/com/cloudwebrtc/webrtc/GetUserMediaImpl.java
  android/src/main/java/com/cloudwebrtc/webrtc/MethodCallHandlerImpl.java
  android/src/main/java/com/cloudwebrtc/webrtc/PeerConnectionObserver.java
  android/src/main/java/com/cloudwebrtc/webrtc/StateProvider.java
  android/src/main/java/com/cloudwebrtc/webrtc/SurfaceTextureRenderer.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/AnyThreadResult.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/AnyThreadSink.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ConstraintsArray.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ConstraintsMap.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/EglUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/EnumStringifier.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/MediaConstraintsUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ObjectExporter.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/ObjectType.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/PermissionUtils.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCAudioManager.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCBluetoothManager.java
  android/src/main/java/com/cloudwebrtc/webrtc/utils/RTCUtils.java
Labels: enhancement, k::refactor, k::toolchain, plarform::android

#13 Implement getUserMedia method
  .github/workflows/ci.yml
  Cargo.lock
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/device_video_capturer.h
  crates/libwebrtc-sys/src/bridge.cc
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/device_video_capturer.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/Cargo.toml
  crates/native/src/device_info.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  example/lib/main.dart
  windows/CMakeLists.txt
  windows/include/flutter_webrtc.h
  windows/include/media_stream.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
Labels: enhancement, k::design, platform::windows, feature
