Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2022-02, with the labels that each got.

#19 Implement basic RtcPeerConnection
  .github/workflows/ci.yml
  .gitignore
  Makefile
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/device_video_capturer.h
  crates/libwebrtc-sys/include/peer_connection_observer.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/peer_connection_observer.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/build.rs
  crates/native/include/api.h
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  crates/native/src/user_media.rs
  example/lib/main.dart
  example/lib/src/create_peer_connection_sample.dart
  flutter-webrtc.code-workspace
  windows/CMakeLists.txt
  windows/include/flutter_peer_connection.h
  windows/include/flutter_webrtc.h
  windows/include/media_stream.h
  windows/src/flutter_peer_connection.cc
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
Labels: enhancement, k::api, k::design, platform::windows, feature

#16 Implement methods for video renderer
  Cargo.lock
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/peer_connection_observer.h
  crates/libwebrtc-sys/include/video_sink.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/peer_connection_observer.cc
  crates/libwebrtc-sys/src/cpp/video_sink.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/include/api.h
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  crates/native/src/video_sink.rs
  example/lib/main.dart
  example/lib/src/renderer.dart
  windows/CMakeLists.txt
  windows/flutter_webrtc_plugin.cc
  windows/include/flutter_webrtc.h
  windows/include/media_stream.h
  windows/include/parsing.h
  windows/include/peer_connection.h
  windows/include/video_renderer.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
  windows/src/peer_connection.cc
  windows/src/video_renderer.cc
Labels: k::api, k::design, platform::windows, feature

#28 Implement `mediaStreamTrackSetEnable`
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/device_video_capturer.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  example/lib/src/renderer.dart
  windows/include/media_stream.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
Labels: enhancement, k::api, k::design, platform::windows, feature

#20 Implement `getDisplayMedia` method
  .github/workflows/ci.yml
  Cargo.lock
  NOTICE
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/screen_video_capturer.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/screen_video_capturer.cpp
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  example/lib/main.dart
  example/lib/src/get_display_media_sample.dart
  windows/include/media_stream.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
Labels: k::api, k::design, platform::windows, feature

#27 Implement RTCPeerConnection events
  android/src/main/java/com/cloudwebrtc/webrtc/PeerConnectionObserver.java
  common/cpp/src/flutter_peerconnection.cc
  common/darwin/Classes/FlutterWebRTCPlugin.m
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/peer_connection_observer.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/peer_connection_observer.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/include/api.h
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  example/lib/src/create_peer_connection_sample.dart
  test/unit/rtc_peerconnection_test.dart
  windows/include/flutter_webrtc.h
  windows/include/peer_connection.h
  windows/src/flutter_webrtc.cc
  windows/src/peer_connection.cc
Labels: k::api, k::design, platform::windows, feature

#29 Implement `addTransceiver` and `getTransceivers` methods
  .clippy.toml
  .github/workflows/ci.yml
  Makefile
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  example/integration_test/webrtc_test.dart
  example/lib/src/create_peer_connection_sample.dart
  example/pubspec.yaml
  example/test_driver/integration_driver.dart
  lib/src/interface/enums.dart
  lib/src/native/rtc_peerconnection_impl.dart
  lib/src/native/rtc_rtp_transceiver_impl.dart
  windows/include/peer_connection.h
  windows/src/flutter_webrtc.cc
  windows/src/peer_connection.cc
Labels: enhancement, k::api, k::toolchain, k::design, platform::windows, feature

#32 Implement transceivers methods
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  example/integration_test/webrtc_test.dart
  lib/src/interface/rtc_rtp_transceiver.dart
  lib/src/native/rtc_rtp_transceiver_impl.dart
  windows/include/peer_connection.h
  windows/src/flutter_webrtc.cc
  windows/src/peer_connection.cc
Labels: k::api, k::design, platform::windows, feature

#33 Implement `rtpSenderReplaceTrack` method
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  crates/native/src/user_media.rs
  example/integration_test/webrtc_test.dart
  lib/src/interface/rtc_rtp_sender.dart
  lib/src/native/rtc_rtp_sender_impl.dart
  lib/src/native/rtc_rtp_transceiver_impl.dart
  lib/src/web/rtc_rtp_sender_impl.dart
  windows/include/peer_connection.h
  windows/src/flutter_webrtc.cc
  windows/src/peer_connection.cc
Labels: k::api, k::design, platform::windows, feature
