Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2022-03, with the labels that each got.

#26 Implement `onDeviceChange` method
  Cargo.lock
  analysis_options.yaml
  crates/native/Cargo.toml
  crates/native/include/api.h
  crates/native/src/device_info.rs
  crates/native/src/devices.rs
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  example/analysis_options.yaml
  example/lib/main.dart
  example/lib/src/on_device_change.dart
  example/windows/flutter/generated_plugins.cmake
  lib/flutter_webrtc.dart
  lib/src/interface/mediadevices.dart
  lib/src/media_devices.dart
  lib/src/native/mediadevices_impl.dart
  lib/src/native/navigator_impl.dart
  windows/include/media_stream.h
  windows/src/flutter_webrtc.cc
Labels: enhancement, k::api, k::design, platform::windows

#30 Impl peer connection track events
  .clippy.toml
  Cargo.lock
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/media_stream_track_interface.h
  crates/libwebrtc-sys/include/rtp_codec_parameters.h
  crates/libwebrtc-sys/include/rtp_encoding_parameters.h
  crates/libwebrtc-sys/include/rtp_parameters.h
  crates/libwebrtc-sys/include/rtp_receiver_interface.h
  crates/libwebrtc-sys/include/rtp_sender_interface.h
  crates/libwebrtc-sys/include/video_sink.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/media_stream_track_interface.cc
  crates/libwebrtc-sys/src/cpp/peer_connection.cc
  crates/libwebrtc-sys/src/cpp/rtp_codec_parameters.cc
  crates/libwebrtc-sys/src/cpp/rtp_encoding_parameters.cc
  crates/libwebrtc-sys/src/cpp/rtp_parameters.cc
  crates/libwebrtc-sys/src/cpp/rtp_receiver_interface.cc
  crates/libwebrtc-sys/src/cpp/rtp_sender_interface.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/Cargo.toml
  crates/native/include/api.h
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  crates/native/src/user_media.rs
  crates/native/src/video_sink.rs
  example/integration_test/webrtc_test.dart
  example/lib/main.dart
  example/lib/src/loopback_sample.dart
  lib/src/interface/rtc_track_event.dart
  lib/src/native/rtc_peerconnection_impl.dart
  windows/include/peer_connection.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
  windows/src/peer_connection.cc
Labels: enhancement, k::api, k::design, platform::windows, feature

#35 Implement `MediaStreamTrack.onended` callback
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/include/api.h
  crates/native/src/internal.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  example/integration_test/webrtc_test.dart
  lib/src/native/media_stream_track_impl.dart
  lib/src/native/rtc_peerconnection_impl.dart
  windows/include/media_stream.h
  windows/src/flutter_webrtc.cc
  windows/src/media_stream.cc
  windows/src/peer_connection.cc
Labels: enhancement, k::api, k::design, platform::windows, feature

#42 Implement `MediaDevices.onDeviceChange` callback
  android/src/main/kotlin/com/cloudwebrtc/webrtc/MediaDevices.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/MediaDevicesController.kt
  lib/src/api/devices.dart
Labels: k::api, plarform::android, feature

#44 Fix imports for web (#43)
  lib/flutter_webrtc.dart
  lib/src/platform/native/video_view.dart
  lib/src/platform/video_renderer.dart
Labels: enhancement, k::refactor, platform::web

#40 Add formatting check on CI
  .github/workflows/ci.yml
  android/src/main/kotlin/com/cloudwebrtc/webrtc/FlutterRtcVideoRenderer.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/FlutterWebRTCPlugin.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/MediaDevices.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/State.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/SurfaceTextureRenderer.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/TrackRepository.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/ChannelNameGenerator.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/IdentifiableController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/MediaDevicesController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/MediaStreamTrackController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/PeerConnectionController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/PeerConnectionFactoryController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/RtpSenderController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/RtpTransceiverController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/VideoRendererController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/VideoRendererFactoryController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/AddIceCandidateException.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/CreateSdpException.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/OverconstrainedException.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/ReplaceSenderTrackException.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/SetSdpException.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/AudioConstraints.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/Constraints.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/IceCandidate.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/IceConnectionState.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/IceGatheringState.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/MediaDeviceInfo.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/MediaStreamTrackState.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/MediaType.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/PeerConnectionConfiguration.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/PeerConnectionState.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/RtpTransceiverDirection.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/RtpTransceiverInit.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/SessionDescription.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/SignalingState.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/model/VideoConstraints.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/AudioMediaTrackSource.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/MediaStreamTrackProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/MediaTrackSource.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/PeerConnectionFactoryProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/PeerConnectionProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/PeerObserver.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/Proxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpReceiverProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpSenderProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpTransceiverProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/VideoMediaTrackSource.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/VideoTrackProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/utils/AnyThreadSink.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/utils/EglUtils.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/utils/LocalTrackIdGenerator.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/utils/UnhandledExceptionResult.kt
Labels: k::toolchain, plarform::android, feature

#45 Add AudioRenderer
  lib/flutter_webrtc.dart
  lib/src/platform/audio_renderer.dart
  lib/src/platform/native/audio_renderer.dart
  lib/src/platform/web/audio_renderer.dart
Labels: k::api, feature

#46 Fix `WebAudioRenderer` not removing its audio element
  lib/src/platform/web/audio_renderer.dart
Labels: enhancement, k::design, platform::web
