Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2022-07, with the labels that each got.

#76 Synchronize renderers after updating java wrap of `VideoTrack`
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/MediaStreamTrackProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/PeerConnectionProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/Proxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpReceiverProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpSenderProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/RtpTransceiverProxy.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/proxy/VideoTrackProxy.kt
  example/android/app/src/main/AndroidManifest.xml
Labels: enhancement, k::refactor, plarform::android

#77 Proper Android permissions management
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/cloudwebrtc/webrtc/FlutterWebRTCPlugin.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/MediaDevices.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/Permissions.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/controller/MediaDevicesController.kt
  android/src/main/kotlin/com/cloudwebrtc/webrtc/exception/PermissionException.kt
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/profile/AndroidManifest.xml
  example/pubspec.yaml
  example/test_driver/integration_driver.dart
Labels: enhancement, k::refactor, k::api, plarform::android

#79 Improve publishing
  .github/workflows/ci.yml
Labels: enhancement, k::toolchain
