Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2022-10, with the labels that each got.

#88 Implement get stats
  .github/workflows/ci.yml
  Cargo.lock
  Makefile
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/include/peer_connection.h
  crates/libwebrtc-sys/include/stats.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/peer_connection.cc
  crates/libwebrtc-sys/src/cpp/stats.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/Cargo.toml
  crates/native/src/api.rs
  crates/native/src/bridge_generated.io.rs
  crates/native/src/bridge_generated.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  example/integration_test/webrtc_test.dart
  example/pubspec.lock
  lib/medea_flutter_webrtc.dart
  lib/src/api/bridge.g.dart
  lib/src/api/bridge.g.freezed.dart
  lib/src/api/peer.dart
  lib/src/model/stats.dart
  pubspec.yaml
Labels: k::api, platform::windows, platform::macos, platform::linux, feature

#91 Implement `RTCStats` on android
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/controller/PeerConnectionController.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/model/RtcStats.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/model/RtcStatsReport.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/proxy/PeerConnectionProxy.kt
  example/integration_test/webrtc_test.dart
  lib/src/api/peer.dart
  lib/src/model/stats.dart
  lib/src/platform/native/video_renderer.dart
  pubspec.yaml
Labels: k::api, plarform::android, feature

#92 Fix `setRecv` and `setSend` functions on iOS
  ios/Classes/controller/RtpTransceiverController.swift
  ios/Classes/proxy/RtpTransceiverProxy.swift
Labels: enhancement, k::refactor, k::api, platform::ios

#93 Implement iOS audio management
  ios/Classes/MediaDevices.swift
  ios/Classes/controller/MediaDevicesController.swift
Labels: k::api, platform::ios, feature
