Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2023-11, with the labels that each got.

#131 Fix `on_track` deadlock
  .github/workflows/ci.yml
  crates/native/src/api.rs
  crates/native/src/bridge_generated.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  crates/native/src/user_media.rs
  crates/native/src/video_sink.rs
  lib/src/api/bridge.g.dart
  lib/src/api/bridge.g.freezed.dart
  lib/src/platform/native/media_stream_track.dart
  lib/src/platform/native/video_renderer.dart
Labels: enhancement, k::refactor, k::design, platform::windows, platform::macos, platform::linux

#135 Add `setParameters()` API
  .nightly.rustfmt.toml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Makefile
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/controller/RtpSenderController.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/model/Encoding.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/proxy/RtpSenderProxy.kt
  crates/libwebrtc-sys/include/adm.h
  crates/libwebrtc-sys/include/adm_proxy.h
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/device_info_mac.h
  crates/libwebrtc-sys/include/device_video_capturer.h
  crates/libwebrtc-sys/include/mac_capturer.h
  crates/libwebrtc-sys/include/media_stream_track_interface.h
  crates/libwebrtc-sys/include/mouse_cursor_monitor_mac.h
  crates/libwebrtc-sys/include/peer_connection.h
  crates/libwebrtc-sys/include/rtp_codec_parameters.h
  crates/libwebrtc-sys/include/rtp_encoding_parameters.h
  crates/libwebrtc-sys/include/rtp_parameters.h
  crates/libwebrtc-sys/include/rtp_receiver_interface.h
  crates/libwebrtc-sys/include/rtp_sender_interface.h
  crates/libwebrtc-sys/include/screen_video_capturer.h
  crates/libwebrtc-sys/include/stats.h
  crates/libwebrtc-sys/include/video_sink.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/rtp_encoding_parameters.cc
  crates/libwebrtc-sys/src/cpp/rtp_parameters.cc
  crates/libwebrtc-sys/src/cpp/rtp_sender_interface.cc
  crates/libwebrtc-sys/src/cpp/stats.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/Cargo.toml
  crates/native/src/api.rs
  crates/native/src/bridge_generated.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  example/integration_test/webrtc_test.dart
  example/pubspec.lock
  ios/Classes/controller/RtpSenderController.swift
  ios/Classes/proxy/RtpSenderProxy.swift
  lib/medea_flutter_webrtc.dart
  lib/src/api/bridge.g.dart
  lib/src/api/parameters.dart
  lib/src/api/peer.dart
  lib/src/api/send_encoding_parameters.dart
  lib/src/api/sender.dart
  lib/src/model/transceiver.dart
  pubspec.yaml
Labels: enhancement, k::refactor, k::api, k::toolchain, platform::windows, plarform::android, platform::ios, platform::macos, platform::linux, feature, k::dependencies

#136 Implement recording module using OpenAL
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  crates/libwebrtc-sys/include/adm.h
  crates/libwebrtc-sys/src/cpp/adm.cc
  crates/libwebrtc-sys/src/cpp/bridge.cc
  example/lib/src/loopback.dart
  example/pubspec.lock
Labels: enhancement, k::refactor, k::toolchain, platform::windows, platform::macos, platform::linux
