Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2023-02, with the labels that each got.

#102 Fix rendering issue on MacOS
  .github/workflows/ci.yml
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/native/src/cpp_api.rs
  crates/native/src/lib.rs
  crates/native/src/renderer.rs
  example/pubspec.lock
  macos/Classes/VideoRenderer.h
  macos/Classes/VideoRenderer.m
Labels: enhancement, k::refactor, platform::macos, k::ui/ux

#103 Implement universal video rotation
  .github/workflows/ci.yml
  Cargo.lock
  crates/native/Cargo.toml
  example/lib/main.dart
  example/lib/src/get_user_media.dart
  example/lib/src/loopback.dart
  example/macos/Podfile
  example/macos/Podfile.lock
  example/macos/Runner.xcodeproj/project.pbxproj
  lib/src/platform/native/video_renderer.dart
  lib/src/platform/native/video_view.dart
  lib/src/platform/video_renderer.dart
  lib/src/platform/web/video_renderer.dart
  lib/src/platform/web/video_view.dart
Labels: k::refactor, k::api, feature, k::ui/ux

#104 Rename `shouldRotate` to `autoRotate` in `VideoView` on Web
  Cargo.lock
  crates/native/Cargo.toml
  example/pubspec.lock
  lib/src/platform/web/video_view.dart
Labels: enhancement, k::refactor, platform::web

#99 Upgrade flutter_rust_bridge to v1.62.1
  .github/workflows/ci.yml
  Cargo.lock
  crates/native/Cargo.toml
  crates/native/src/bridge_generated.io.rs
  crates/native/src/bridge_generated.rs
  crates/native/src/cpp_api.rs
  example/pubspec.lock
  ios/Classes/controller/PeerEventController.swift
  lib/src/api/bridge.g.dart
  pubspec.yaml
Labels: enhancement, k::dependencies
