Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2023-12, with the labels that each got.

#134 Prepare release 0.9.0
  CHANGELOG.md
  Cargo.lock
  README.md
  android/build.gradle
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/src/cpp/screen_video_capturer.cc
  crates/libwebrtc-sys/src/cpp/test_audio_device_module.cc
  example/ios/Podfile.lock
  example/lib/src/get_user_media.dart
  example/macos/Podfile.lock
  example/macos/Runner.xcodeproj/project.pbxproj
  example/pubspec.lock
  example/pubspec.yaml
  ios/Classes/FlutterRtcVideoRenderer.swift
  ios/medea_flutter_webrtc.podspec
  lib/src/platform/native/video_renderer.dart
  lib/src/platform/video_renderer.dart
  lib/src/platform/web/video_renderer.dart
  macos/medea_flutter_webrtc.podspec
  pubspec.yaml
Labels: k::documentation, enhancement, k::refactor, platform::ios, k::ui/ux, k::dependencies

#139 Fix MacOS video renderer disposing
  CHANGELOG.md
  android/build.gradle
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/pubspec.lock
  ios/medea_flutter_webrtc.podspec
  macos/Classes/VideoRenderer.m
  macos/medea_flutter_webrtc.podspec
  pubspec.yaml
Labels: enhancement, k::refactor, platform::macos

#142 Fix error propagation on iOS
  CHANGELOG.md
  Cargo.lock
  crates/libwebrtc-sys/src/cpp/device_info_mac.mm
  crates/libwebrtc-sys/src/cpp/mac_capturer.mm
  ios/Classes/controller/MediaStreamTrackController.swift
  ios/Classes/controller/PeerConnectionController.swift
  ios/Classes/utils/FlutterError.swift
Labels: enhancement, k::refactor, k::api, platform::ios, platform::macos
