Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2024-07, with the labels that each got.

#162 Fix iOS integration tests
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  README.md
  android/build.gradle
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build.rs
  crates/libwebrtc-sys/src/bridge.rs
  crates/native/src/devices.rs
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Classes/FlutterRtcVideoRenderer.swift
  ios/Classes/MedeaFlutterWebrtcPlugin.h
  ios/Classes/MedeaFlutterWebrtcPlugin.m
  ios/Classes/MediaDevices.swift
  ios/medea_flutter_webrtc.podspec
Labels: enhancement, k::refactor, k::toolchain, platform::ios

#164 Migrate from `dart:html` to `package:web`
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  crates/native/src/devices.rs
  example/lib/main.dart
  example/pubspec.lock
  lib/medea_flutter_webrtc.dart
  lib/src/platform/audio_renderer.dart
  lib/src/platform/track.dart
  lib/src/platform/video_renderer.dart
  lib/src/platform/web/audio_renderer.dart
  lib/src/platform/web/fake_media.dart
  lib/src/platform/web/media_stream_track.dart
  lib/src/platform/web/video_renderer.dart
  pubspec.yaml
Labels: enhancement, k::refactor, platform::web

#165 Fix RtpReceiver use after free on Android
  CHANGELOG.md
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/proxy/PeerObserver.kt
Labels: enhancement, k::refactor, plarform::android

#166 Upgrade libwebrtc to v127.0.6533.72
  CHANGELOG.md
  Cargo.lock
  README.md
  android/build.gradle
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build.rs
  example/ios/Podfile.lock
  ios/medea_flutter_webrtc.podspec
Labels: enhancement, k::dependencies
