Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2024-01, with the labels that each got.

#144 Impl video codec info
  CHANGELOG.md
  Cargo.lock
  android/build.gradle
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/FlutterRtcVideoRenderer.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/State.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/WebrtcVideoDecoderFactory.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/WebrtcVideoEncoderFactory.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/controller/PeerConnectionFactoryController.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/model/VideoCodecInfo.kt
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/utils/EglUtils.kt
  crates/native/src/api.rs
  crates/native/src/bridge_generated.rs
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/integration_test/webrtc_test.dart
  example/ios/Podfile.lock
  example/lib/main.dart
  example/lib/src/loopback.dart
  example/lib/src/video_codec_info.dart
  example/macos/Podfile.lock
  example/pubspec.lock
  ios/Classes/controller/PeerConnectionFactoryController.swift
  ios/Classes/model/VideoCodecInfo.swift
  ios/medea_flutter_webrtc.podspec
  lib/src/api/bridge.g.dart
  lib/src/api/peer.dart
  lib/src/model/peer.dart
  macos/medea_flutter_webrtc.podspec
  pubspec.yaml
Labels: k::api, platform::windows, plarform::android, platform::ios, platform::macos, platform::linux, feature

#145 Multi-source support for desktop's ADM
  CHANGELOG.md
  Cargo.lock
  crates/libwebrtc-sys/include/adm.h
  crates/libwebrtc-sys/include/adm_proxy.h
  crates/libwebrtc-sys/include/audio_device_recorder.h
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/local_audio_source.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/adm.cc
  crates/libwebrtc-sys/src/cpp/audio_device_recorder.cc
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/local_audio_source.cc
  crates/libwebrtc-sys/src/cpp/test_audio_device_module.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/user_media.rs
  example/macos/Runner.xcodeproj/project.pbxproj
  example/pubspec.lock
Labels: k::refactor, k::api, platform::windows, platform::macos, platform::linux, feature

#146 Fix output audio device related bugs on mobile
  CHANGELOG.md
  android/src/main/kotlin/com/instrumentisto/medea_flutter_webrtc/MediaDevices.kt
  ios/Classes/MediaDevices.swift
Labels: enhancement, k::refactor, k::api, plarform::android, platform::ios
