Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2025-04, with the labels that each got.

#193 Upgrade OpenAL to 1.24.3
  CHANGELOG.md
  README.md
  crates/libwebrtc-sys/build.rs
Labels: enhancement, k::dependencies

#195 Support separate `AudioProcessing` for each `LocalAudioSource` on desktop
  CHANGELOG.md
  android/build.gradle
  crates/libwebrtc-sys/include/adm.h
  crates/libwebrtc-sys/include/adm_proxy.h
  crates/libwebrtc-sys/include/audio_device_recorder.h
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/delegating_apm.h
  crates/libwebrtc-sys/include/local_audio_source.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/adm.cc
  crates/libwebrtc-sys/src/cpp/audio_device_recorder.cc
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/delegating_apm.cc
  crates/libwebrtc-sys/src/cpp/local_audio_source.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/lib.rs
  crates/native/src/pc.rs
  crates/native/src/user_media.rs
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/pubspec.lock
  ios/medea_flutter_webrtc.podspec
  macos/medea_flutter_webrtc.podspec
  pubspec.yaml
Labels: enhancement, k::design, platform::windows, platform::macos, platform::linux, feature

#197 Support changing audio processing setting for local audio tracks on desktop
  CHANGELOG.md
  Cargo.lock
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/Cargo.toml
  crates/native/src/api/mod.rs
  crates/native/src/frb_generated.rs
  crates/native/src/user_media.rs
  example/integration_test/webrtc_test.dart
  example/lib/src/loopback.dart
  example/pubspec.lock
  lib/src/api/bridge/api.dart
  lib/src/api/bridge/frb_generated.dart
  lib/src/api/bridge/frb_generated.io.dart
  lib/src/api/devices.dart
  lib/src/model/constraints.dart
  lib/src/platform/native/media_stream_track.dart
  lib/src/platform/track.dart
Labels: k::api, platform::windows, platform::macos, platform::linux, feature

#198 Fix default video resolution
  CHANGELOG.md
  Cargo.lock
  example/pubspec.lock
  lib/src/api/devices.dart
Labels: enhancement, k::refactor, platform::windows, plarform::android, platform::ios, platform::macos, platform::linux, platform::web
