Repository instrumentisto/medea-flutter-webrtc, pull requests merged in 2025-08, with the labels that each got.

#236 Add ability to download libwebrc-bin from branch for Desktop
  .gitignore
  Cargo.lock
  crates/libwebrtc-sys/.gitignore
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build/mod.rs
  crates/libwebrtc-sys/build/openal.rs
  crates/libwebrtc-sys/build/webrtc.rs
Labels: enhancement, k::refactor, k::toolchain, platform::windows, platform::macos, platform::linux, feature

#238 Add ability to download libwebrc-bin from branch for mobile
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Makefile
  android/.gitignore
  android/build.gradle
  example/android/.gitignore
  ios/.gitignore
  ios/medea_flutter_webrtc.podspec
Labels: enhancement, k::toolchain, plarform::android, platform::ios, feature

#248 Upgrade libwebrtc to 139.0.7258.66
  CHANGELOG.md
  Cargo.lock
  Makefile
  README.md
  android/build.gradle
  crates/libwebrtc-sys/Cargo.toml
  crates/libwebrtc-sys/build/webrtc.rs
  crates/libwebrtc-sys/include/delegating_apm.h
  crates/libwebrtc-sys/src/cpp/delegating_apm.cc
  example/ios/Podfile.lock
  ios/medea_flutter_webrtc.podspec
Labels: enhancement, k::dependencies

#245 Add system audio capture for Windows
  CHANGELOG.md
  README.md
  crates/libwebrtc-sys/build/mod.rs
  crates/libwebrtc-sys/build/openal.rs
  crates/libwebrtc-sys/build/wil.rs
  crates/libwebrtc-sys/include/adm.h
  crates/libwebrtc-sys/include/adm_proxy.h
  crates/libwebrtc-sys/include/audio_device_recorder.h
  crates/libwebrtc-sys/include/audio_recorder.h
  crates/libwebrtc-sys/include/bridge.h
  crates/libwebrtc-sys/include/sys_audio_capture/capture.h
  crates/libwebrtc-sys/include/sys_audio_capture/win_capture.h
  crates/libwebrtc-sys/src/bridge.rs
  crates/libwebrtc-sys/src/cpp/adm.cc
  crates/libwebrtc-sys/src/cpp/audio_device_recorder.cc
  crates/libwebrtc-sys/src/cpp/bridge.cc
  crates/libwebrtc-sys/src/cpp/local_audio_source.cc
  crates/libwebrtc-sys/src/cpp/sys_audio_capture/win_capture.cc
  crates/libwebrtc-sys/src/lib.rs
  crates/native/src/api/media/constraints/audio.rs
  crates/native/src/frb_generated.rs
  crates/native/src/media/device.rs
  crates/native/src/media/mod.rs
  crates/native/src/media/source.rs
  example/integration_test/webrtc_test.dart
  example/lib/src/loopback.dart
  lib/src/api/bridge/api/media/constraints/audio.dart
  lib/src/api/bridge/frb_generated.dart
  lib/src/api/bridge/frb_generated.io.dart
  lib/src/api/devices.dart
Labels: k::api, k::design, platform::windows, feature, k::dependencies

#252 Fix WebVideoRenderer.onResize and dimensions calculation race
  CHANGELOG.md
  lib/src/platform/web/video_renderer.dart
Labels: enhancement, k::refactor, platform::web
